[user]
    name = Erik Rimskog
    email = erik.rimskog@gmail.com
[pull]
    ff = only
[push]
    autoSetupRemote = true
[fetch]
    recurseSubmodules = on-demand
    parallel = 0
[submodule]
    fetchJobs = 0
[merge]
    conflictstyle = diff3
[rerere]
    enabled = true
[init]
    defaultBranch = master
[core]
    quotepath = off
[diff]
    algorithm = histogram
[pretty]
    oneline2 = format:%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset
[log]
    date = iso
[alias]
    # alias
    alias = !git-alias
    # clone
    cloner = clone --recurse-submodules
    # add
    a = add
    aa = a --all
    au = a --update
    # branch
    br = branch
    brsu = br -u # --set-upstream-to
    bruu = br --unset-upstream
    # rebase
    rb = rebase
    rbc = rb --continue
    rba = rb --abort
    rbm = rb --interactive --keep-base
    # restore
    re = restore
    res = re --staged
    resw = res --worktree
    # merge
    me = merge
    mec = me --no-ff
    mef = me --ff-only
    # reset
    rs = reset
    rsh = rs --hard
    rshu = rsh @{upstream}
    # squash
    sq = !: branch && git-squash
    sqp = sq --preview
    # commit
    co = commit
    coa = co --amend
    coan = coa --no-edit
    # diff [A..B same as A B] [A...B same as (merge-base A B) B]
    d = diff
    dr = d --submodule=diff
    dm = d --submodule=log
    ds = d --staged
    # ahead
    ah = !: diff && git-ahead
    # status
    s = status
    ss = s --short --branch
    sr = !git-foreach --no-git git-status-brief # [<branch-for-git-ahead>]
    sa = s --untracked-files=all
    # fetch [origin master:master to fast-forward, add + to force]
    f = fetch
    fr = f --recurse-submodules=yes
    # pull
    pl = pull
    plr = pl --rebase
    # push
    ps = push
    psforce = ps --force-with-lease
    # switch
    sw = switch
    swd = sw --detach
    # submodule
    m = submodule
    mu = m update --init --checkout
    mur = mu --recursive
    mr = !git-submodule-rm # [--force|-f] [--] <path>...
    # foreach
    fe = !: reset && git-foreach # [options] [--] <command>...
    feh = !git-foreach --help
    # log [A..B same as ^A B] [A...B same as A B ^(merge-base A B)]
    l = log --boundary --graph --pretty=oneline2 --date=relative
    la = l --all
    # worktree
    wt = worktree
    wta = wt add
    wtl = wt list
    wtr = wt remove
