[user]
    name = Erik Rimskog
    email = erik.rimskog@gmail.com
[pull]
    ff = only
[merge]
    conflictstyle = diff3
[rerere]
    enabled = 1
[init]
    defaultBranch = master
[core]
    quotepath = off
[diff]
    algorithm = histogram
[alias]
    # add
    a = add
    aa = a --all
    # rebase
    rb = rebase
    rbc = rb --continue
    rba = rb --abort
    rbm = rb --interactive --keep-base
    # merge
    me = merge
    mec = me --no-ff
    mef = me --ff-only
    # reset
    rs = reset
    rsh = rs --hard
    # squash
    sq = !git-squash
    # commit
    co = commit
    # diff
    d = diff
    dr = d --submodule=diff
    # status
    s = status
    sr = !git-status-recursive --toplevel
    sa = s --untracked-files=all
    # fetch
    f = fetch
    fr = mf 'git f'
    # pull
    pl = pull
    plr = mf "'if git-detached; then git pl; fi'"
    # push
    ps = push
    psr = mf "'if git-detached; then git ps; fi'"
    psforce = ps --force-with-lease
    # switch
    sw = switch
    swr = "!git mf \"git sw $1 || true\" #"
    swd = sw --detached
    # submodule
    m = submodule
    mf = m foreach --recursive
    mu = m update --init --checkout --recursive
    ms = m summary
    # log
    l = log --graph --pretty='%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    la = l --all
