emacs/elpa/**
emacs/non_elpa/**
emacs/session.*
emacs/.emacs.desktop
emacs/myinit.el
emacs/recentf
emacs/projectile.cache
emacs/projectile-bookmarks.eld
emacs/auto-save-list/**
emacs/ac-comphist.dat
emacs/.mc-lists.el
