# General settings not specific to a particular user or host.
[pull]
	ff = only
[push]
	autoSetupRemote = true
[fetch]
	recurseSubmodules = on-demand
	parallel = 0
[submodule]
	fetchJobs = 0
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[init]
	defaultBranch = master
[core]
	#NOTE: autocrlf=input is nice to make sure no windows files are added, but it could
	# ruin binary files if they are classified incorrectly, see core.safecrlf. This
	# setting also only affects one developer at a time, which means that everyone
	# contributing to a repo must use the same setting, else weird things will happen. The
	# correct approach is to set the text attribute in .gitattributes in the repo itself,
	# then everyone are forced to do the conversions in the same way. A '* text=auto'
	# works, but that reintroduces the risk of corrupting binary files.
	# https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
	safecrlf = warn
	quotepath = off
[diff]
	algorithm = histogram
	colorMoved = default
	renames = copies
	mnemonicPrefix = true
[pretty]
	oneline2 = format:%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset
[log]
	date = iso
[status]
	showStash = true
