[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
After=graphical-session.target

[Service]
Type=notify
ExecStart=emacs --fg-daemon

# Emacs will exit with status 15 after having received SIGTERM, which
# is the default "KillSignal" value systemd uses to stop services.
SuccessExitStatus=15

[Install]
# Install here instead of default.target to make sure the daemon inherits all
# environment variables
WantedBy=graphical-session.target
