[Unit]
Description=The X compositor Picom
PartOf=monitors-changed.target graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=picom

[Install]
WantedBy=graphical-session.target
